.details__title {
    /* width: 600px; */
    padding: 20px 0 30px 0;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 1px;
    /* text-align: center; */
    font-weight: bold;
    /* position: absolute;
    bottom: 0px;
    left: 0;
    background-color:  rgba(255,255,255,0.6908964269301471) ; */

}

.details__description {
    padding: 0 150px 20px 150px;
    text-align: center;
}

.details__info {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
    margin-bottom: 20px;
}
.details__info  p{
    /* background-color: var(--mainColor); */
    padding: 10px 20px;
}
