.carousel__badge {
    position: absolute;
    left: 30px;
    top: 30px;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: var(--mainColor);
    color: white;
    font-weight: 600;
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, black 100%);
}

.carousel__title {
    color: white;
}

.carousel__title:hover {
    color: var(--mainColor);
}
.carousel-inner{
    border: 50px solid rgba(var(--mainShadowColor),0.5);
}
