.tabs__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tabs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tabs__btn {
    all: unset;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px;
    box-shadow: var(--mainShadow);
    text-align: center;
}

.tabs__btn:focus {
    color: black;
    border: 1px solid var(--mainColor);
    background-color: var(--mainColor);
}

.tabs__btn:hover {
    box-shadow: var(--mainShadow);
    color: var(--mainColor);
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.logo__ad {
    padding: 6px 430px;
    text-transform: uppercase;
    border: 1px solid var(--mainColor);
}