.tabs__wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    box-shadow: var(--mainShadow);
    margin-top:40px;

}

.tabs {
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tabs__btn {
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--mainColor);
    padding: 10px;
    border: none;
    color: var( --mainBntTextColor);
}
.tabs__btn:focus{
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
    background-color: var(--focusBntColor);
}

.tabs__btn:hover {

    box-shadow: var(--mainShadow);
    color: var(--hoverTextColor);
}