 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

 :root {
     --mainColor: rgb(203, 164, 0);

     --mainShadowColor: 82, 111, 63;
     --mainBlack: rgb(54, 109, 139);
     /* --mainBlack: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(54,109,139,1) 46%, rgba(0,212,255,1) 100%); */
     --mainTextColor: black;

     --mainBntTextColor: white;

     --hoverBntColor: white;

     /* --mainShadow: 0 3px 5px rgb(0 0 0 / 0.1); */
     --mainShadow: 0px 15px 20px -14px rgba(0, 0, 0, 0.45);
 }


 body {
     /* font-family: 'Oswald', sans-serif; */
     font-family: Arial, Helvetica, sans-serif;


     font-size: clamp(1rem, 2vw, 1rem);
 }

 .content__wrapper {
     width: 80%;
     margin: auto;
 }

 .wrapper {

     display: grid;
     gap: 2%;
     grid-template-columns: 60% 38%;
 }

 @supports (min-height: max(200px, 62vh)) {
     .wrapper {
         min-height: max(200px, 62vh);
     }
 }