 /* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
 /* @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap'); */
 /* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap'); */
 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
 :root {
     --mainColor: rgb(225, 123, 200);
     --mainShadowColor: 225, 123, 200;
     --mainBlack: rgb(57, 57, 57);
     --mainTextColor: black;

     --mainBntTextColor: white;

     --hoverBntColor: white;

     --mainShadow: 0 3px 5px rgb(0 0 0 / 0.1);
 }

 body {
     /* font-family: 'Montserrat', sans-serif; */
     /* font-family: 'Merriweather', serif; */
     /* font-family: 'Lora', serif; */
     font-family: 'Oswald', sans-serif;
     /* display: grid; */

 }

 h5 {
     font-size: 1.125rem;
 }

 .content__wrapper {
     width: 1440px;
     margin: auto;

 }

 .wrapper {

     width: 1440px;
     display: grid;
     gap: 2%;
     grid-template-columns: 60% 38%;
 }