a {
    text-decoration: none;
}

.verticalCard {
    border: none;
}

.verticalCard .verticalCardImg {
    border-radius: 0;
}

.verticalCard .card-title {
    color: var(--mainTextColor);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.verticalCard .card-title:hover {
    color: red;
}

.verticalCard .card-body {
    padding: 0;
}

.verticalCard .card-text p {
    margin: 0;
}

.verticalCard .horizontalCard__date {
    color: grey;
}