.verticalCard {
    border: none;
}

.verticalCardImg__wrapper {
    width: 320px;
    height: 250px;
    overflow: hidden;
}

.verticalCardImg {
    transition: transform .3s;
    /* Animation */
    height: 100%;
    width: 100%;
    border-radius: unset;
    object-fit: cover;
}

.verticalCardImg:hover {
    transform: scale(1.1);
}


.verticalCard .card-body {
    padding: 0;
}

.verticalCard .card-title {
    color: var(--mainTextColor);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.verticalCard .card-title:hover {
    color: red;
}

.verticalCard .verticalCard__date {
    color: grey;
    margin: 10px 0;
}

a {
    text-decoration: none;
}