.login {
    padding: 5% 20%;
}

.login__title {
    text-transform: uppercase;
    text-align: center;
}

.form-control {
    border: none;
    border-radius: unset;
    border-bottom: 1px solid var(--mainSecondColor);
}

.form-control:focus {
    border: 1px solid var(--mainColor);
    box-shadow: 0 0 0 0.25rem rgba(var(--mainShadowColor), 0.25);
}


.form-check-input:checked {
    background-color: var(--mainColor);
    border-color: var(--mainColor);
}

.form-check-input:focus {
    border-color: var(--mainColor);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(var(--mainShadowColor), 0.25);
}

.btn {
    border-radius: unset;
    background-color: var(--mainSecondColor);
    border: 1px solid transparent;
    width: 100%;
}

.btn:hover {
    background-color: var(--mainColor);
    border: 1px solid transparent;
    color: white;
    box-shadow: 0 0 0 0.25rem rgba(var(--mainShadowColor), 0.25);
}