#form-main {
  width: 100%;
  float: left;
  padding-top: 0px;
  margin-top: 30px;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: none;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #dddddd;
}

input {
  padding: 10px;
  width: 100%;
  border: 1px solid #dddddd;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  background-color: rgb(234, 234, 234);
}

.submit {
  background-color: var(--mainBlack);
  padding: 5px 50px;
  margin: 12px 0;
  font-size: 20px;
  color: white;
}

.submit:hover {
  background-color: var(--mainColor);
}