.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.register__form {
    padding: 100px 120px;
}

.register__title {
    text-transform: uppercase;
    text-align: center;
}
