.tabs {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.tabs__cards{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.tabs__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tabs__btn {
    all: unset;
    background-color: var(--mainBlack);
    color: white;
    font-weight: bold;
    padding: 10px;
    box-shadow: var(--mainShadow);
    text-align: center;
}

.tabs__btn:focus {
    color: var(--mainBlack);
    border: 1px solid var(--mainColor);
    background-color: var(--mainColor);
}

.tabs__btn:hover {
    box-shadow: var(--mainShadow);
    background-color: var(--mainColor);
    color: white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.logo__ad {
    padding: 0.1% 10%;
    text-transform: uppercase;
    border: 1px solid var(--mainColor);
}