.topHeader {
    padding: 0 12.6%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--mainShadow);
}


.searchIcon:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}


.weather {
    gap: 30px;
    display: flex;
    align-items: center;
}

.topHeader__location {
    font-size: 20px;
}

.topHeader__humidity,
.topHeader__wind,
.topHeader__conditionAndTemp {
    display: flex;
    align-items: center;
}

.whether__icon {
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}


ul {
    margin-bottom: 0;
    padding-left: 0;
}

.userButtons {
    display: flex;
    gap: 15px;
    align-items: center;

}

.userButtons .nav-link:hover {
    color: var(--mainColor);
    text-decoration: underline;
}