.nav {
    display: flex;
    background-color: black;
    color: white;
    padding: 0 0;
    display: flex;
    justify-content: space-between;
    margin: 10px 10% 40px 10%;
}

.navBar {
    display: flex;
}

.nav__user {
    color: white;
}

.nav-link {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 20px;
}

.nav-link:hover {
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: var(--mainColor);
   }

.nav-link:focus {
    color: var(--mainTextColor);
    background-color: var(--mainColor);
}