.logo__letter {
    padding: 1px 10px;
    background-color: var(--mainColor);
    color: var(--mainBntTextColor);
    margin: 5px;
}

.logo {
    width: 100%;
    padding: 30px 0 20px 0;
    display: flex;
    justify-content: space-between;
}