.footer {
    background-color: #212529;
    color: white;
    padding: 1% 12.8%;
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


.footer__links {
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.footer__link {
    color: white;
    text-decoration: none;
    /* margin: 0 20px; */
    transition: color 0.3s ease;
}

.up {
    color: var(--mainColor);

    border-radius: 60%;
    border: 1px solid var(--mainColor);
    /* padding: 10px; */
    position: absolute;
    top: -330%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    padding: 10px;
}

.up :hover {
    color: var(--mainBlack);

}

.footer__link:hover {
    color: var(--mainColor);
}

.social {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.whether__icon a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 50%;
}

.whether__icon a:hover {
    color: var(--mainColor);
}

.footer p {
    margin-top: 20px;
}

.github {
    color: var(--mainColor);

}

.github:hover {
    color: var(--mainBlackColor);

}