.footer {
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;

    width: 100%;
    text-align: center;
    padding: 1% 12.6%;
    background-color: #212529;
    color: white;
    align-items: center;
}

.social {
    display: flex;
    gap: 20px; 
    margin-left: auto;
}

.facebook.whether__icon {
    background-color: #1B7BFD;
    border: 1px solid #1B7BFD;
    color: white;
}

.instagram.whether__icon {
    background-color: #C23785;
    border: 1px solid #C23785;
    color: white;
}

.youtube.whether__icon {
    background-color: #EF5043;
    border: 1px solid #EF5043;
    color: white;
}

.twitter.whether__icon {
    background-color: #42C0F5;
    border: 1px solid #42C0F5;
    color: white;
}

a {
    color: unset;
}

a:hover {
    color: unset;
}

/* from here */
.facebook.whether__icon:hover {
    background-color: white;
    color: #1B7BFD;
}

.instagram.whether__icon:hover {
    background-color: white;
    color: #C23785;
}

.youtube.whether__icon:hover {
    background-color: white;
    color: #EF5043;
}

.twitter.whether__icon:hover {
    background-color: white;
    color: #42C0F5;
}

.footer__links {
    display: flex;
    gap: 30px;
    margin-left: auto;
    justify-content: center;

}

.footer__link:hover {
    color: var(--mainColor);
}

.footer__link:focus {
    color: red;
}

p {
    margin: 0;
}