.horizontalCard {
    display: grid;
    grid-template-columns: 2fr 3fr;
    color: var(--mainBlack);
    text-decoration: none;
    gap: 20px;
    border-radius: unset;
    border: none;
    transition: transform .3s;
    /* Animation */

    height: 100%;
    width: 100%;
}

.horizontalCardImg__wrapper {
    width: 100%;
    /* height: 100px; */
    overflow: hidden;
}

.horizontalCardImg {
    width: 100%;
    /* height: 100px; */
}

.horizontalCardImg:hover {
    transform: scale(1.1);
}


.horizontalCard .card-body {
    padding: 10px 0 5px 0;
}

.horizontalCard .card-title {
    font-size: 18px;
    color: var(--mainTextColor);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.horizontalCard .card-title:hover {
    color: var(--mainColor)
}

.horizontalCard .card-text p {
    margin: 0;
}

.horizontalCard .horizontalCard__date {
    color: grey;
}

a {
    text-decoration: none;
}

/*.horizontalCard:nth-child(even) {
    background-color: antiquewhite;
}*/

